#Importing and Exploration

In [537]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [538]:
df = pd.read_csv("FIFA23_official_data.csv")

In [539]:
df.shape

(17660, 29)

In [540]:
df['Position'].head(5)

0    <span class="pos pos28">SUB
1    <span class="pos pos15">LCM
2      <span class="pos pos7">LB
3    <span class="pos pos13">RCM
4    <span class="pos pos13">RCM
Name: Position, dtype: object

Splitting the column with > character and choosing the right side of it.

In [541]:
df['Position'] = df['Position'].str.split('>').str[1]

In [542]:
df['Position'].head(5)

0    SUB
1    LCM
2     LB
3    RCM
4    RCM
Name: Position, dtype: object

In [543]:
df['Position'].isnull().sum()

35

In [544]:
df['Position'].unique()

array(['SUB', 'LCM', 'LB', 'RCM', 'RDM', 'LCB', 'RS', 'RB', 'LM', 'LS',
       'RWB', 'CDM', 'RW', 'RM', 'LF', 'LWB', 'ST', 'CAM', 'LDM', 'RES',
       'LW', 'CF', 'RF', 'RCB', 'CM', 'CB', nan, 'RAM', 'LAM', 'GK'],
      dtype=object)

In [545]:
len(df['Position'].unique())

30

Players with unspecified position contained a few legacy players like David Bekham and Didier Drogba but mostly old, irrelevant players so its safe to drop them all.

In [546]:
df['Position'].isnull().sum()

35

In [547]:
df = df.dropna(subset=['Position'])

In [548]:
df.shape

(17625, 29)

In [549]:
df['Position'].unique()

array(['SUB', 'LCM', 'LB', 'RCM', 'RDM', 'LCB', 'RS', 'RB', 'LM', 'LS',
       'RWB', 'CDM', 'RW', 'RM', 'LF', 'LWB', 'ST', 'CAM', 'LDM', 'RES',
       'LW', 'CF', 'RF', 'RCB', 'CM', 'CB', 'RAM', 'LAM', 'GK'],
      dtype=object)

In [550]:
len(df['Position'].unique())

29

Now we have 29 different positions. Lets filter out positions with letter M in them considering they are midfielders.

In [551]:
positions = df['Position'].unique()

print(positions)

['SUB' 'LCM' 'LB' 'RCM' 'RDM' 'LCB' 'RS' 'RB' 'LM' 'LS' 'RWB' 'CDM' 'RW'
 'RM' 'LF' 'LWB' 'ST' 'CAM' 'LDM' 'RES' 'LW' 'CF' 'RF' 'RCB' 'CM' 'CB'
 'RAM' 'LAM' 'GK']

#Midfielders Dataset

In [552]:
mid_positions = [k for k in positions if 'M' in k]

print(mid_positions)

['LCM', 'RCM', 'RDM', 'LM', 'CDM', 'RM', 'CAM', 'LDM', 'CM', 'RAM', 'LAM']

In [553]:
len(mid_positions)

11

In [554]:
df_mids = df[df['Position'].str.contains("M")]

In [555]:
df_mids.shape

(1827, 29)

In [556]:
df_mids.head(5)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
1,212198,Bruno Fernandes,27,https://cdn.sofifa.net/players/212/198/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,86,87,Manchester United,https://cdn.sofifa.net/teams/11/30.png,...,Yes,LCM,"Jan 30, 2020",NaN,2026,179cm,69kg,€155M,8.0,NaN
3,192985,K. De Bruyne,31,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,https://cdn.sofifa.net/flags/be.png,91,91,Manchester City,https://cdn.sofifa.net/teams/10/30.png,...,Yes,RCM,"Aug 30, 2015",NaN,2025,181cm,70kg,€198.9M,17.0,NaN
4,224232,N. Barella,25,https://cdn.sofifa.net/players/224/232/23_60.png,Italy,https://cdn.sofifa.net/flags/it.png,86,89,Inter,https://cdn.sofifa.net/teams/44/30.png,...,Yes,RCM,"Sep 1, 2020",NaN,2026,172cm,68kg,€154.4M,23.0,NaN
5,212622,J. Kimmich,27,https://cdn.sofifa.net/players/212/622/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,89,90,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,...,Yes,RDM,"Jul 1, 2015",NaN,2025,177cm,75kg,€182M,6.0,NaN
7,187961,22 Paulinho,32,https://cdn.sofifa.net/players/187/961/22_60.png,Brazil,https://cdn.sofifa.net/flags/br.png,83,83,Al Ahli,https://cdn.sofifa.net/teams/112387/30.png,...,Yes,LCM,"Jul 22, 2021",NaN,2024,183cm,80kg,€48.5M,15.0,NaN

#Goalkeepers Dataset

In [557]:
gk_positions = [k for k in positions if 'GK' in k]

print(gk_positions)

['GK']

In [558]:
len(gk_positions)

1

We had 6 different midfield positions and 1 different goal keeper position

In [559]:
df_gks = df[df['Position'].str.contains("GK")]

In [560]:
df_gks.shape

(376, 29)

#Defenders Dataset

SUB position is for players with balanced forward and midfield abilities so we filtering it out

In [561]:
def_positions = [k for k in positions if 'B' in k and 'SUB' not in k]

print(def_positions)

['LB', 'LCB', 'RB', 'RWB', 'LWB', 'RCB', 'CB']

In [562]:
len(def_positions)

7

In [563]:
df_defs = df[df['Position'].str.contains('|'.join(def_positions))]

In [564]:
df_defs['Position'].head(5)

2      LB
6     LCB
9      LB
19     RB
21     RB
Name: Position, dtype: object

In [565]:
df_defs.shape

(1767, 29)

In [566]:
df_defs.head(5)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
2,224334,M. Acuña,30,https://cdn.sofifa.net/players/224/334/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,85,85,Sevilla FC,https://cdn.sofifa.net/teams/481/30.png,...,No,LB,"Sep 14, 2020",NaN,2024,172cm,69kg,€97.7M,19.0,NaN
6,197445,D. Alaba,30,https://cdn.sofifa.net/players/197/445/23_60.png,Austria,https://cdn.sofifa.net/flags/at.png,86,86,Real Madrid CF,https://cdn.sofifa.net/teams/243/30.png,...,Yes,LCB,"Jul 1, 2021",NaN,2026,180cm,78kg,€113.8M,4.0,NaN
9,210514,João Cancelo,28,https://cdn.sofifa.net/players/210/514/23_60.png,Portugal,https://cdn.sofifa.net/flags/pt.png,88,88,Manchester City,https://cdn.sofifa.net/teams/10/30.png,...,Yes,LB,"Aug 7, 2019",NaN,2027,182cm,74kg,€152.6M,7.0,NaN
19,193082,J. Cuadrado,34,https://cdn.sofifa.net/players/193/082/23_60.png,Colombia,https://cdn.sofifa.net/flags/co.png,83,83,Juventus,https://cdn.sofifa.net/teams/45/30.png,...,Yes,RB,"Jul 1, 2017",NaN,2023,179cm,72kg,€23M,11.0,NaN
21,231281,T. Alexander-Arnold,23,https://cdn.sofifa.net/players/231/281/23_60.png,England,https://cdn.sofifa.net/flags/gb-eng.png,87,90,Liverpool,https://cdn.sofifa.net/teams/9/30.png,...,Yes,RB,"Oct 7, 2015",NaN,2025,180cm,69kg,€193.5M,66.0,NaN

#Forwards Dataset

In [567]:
midOut = [i for i in positions if i not in mid_positions]

In [568]:
defOut_midOut = [i for i in midOut if i not in def_positions]

fwd_positions = [i for i in defOut_midOut if i not in gk_positions]

In [569]:
fwd_positions

['SUB', 'RS', 'LS', 'RW', 'LF', 'ST', 'RES', 'LW', 'CF', 'RF']

In [570]:
len(fwd_positions)

10

We have 10 forward positions

In [571]:
df_fwds = df[df['Position'].str.contains('|'.join(fwd_positions))]

In [572]:
p = df_fwds['Position'].unique()

print(p)

['SUB' 'RS' 'LS' 'RWB' 'RW' 'LF' 'LWB' 'ST' 'RES' 'LW' 'CF' 'RF']

Somehow this function still leaves RWB and LWB positions in forwards dataset so we will remove that manually.

In [573]:
df_fwds = df_fwds[df_fwds["Position"].str.contains("LWB") == False]


df_fwds = df_fwds[df_fwds["Position"].str.contains("RWB") == False]

In [574]:
p = df_fwds['Position'].unique()

print(p)

['SUB' 'RS' 'LS' 'RW' 'LF' 'ST' 'RES' 'LW' 'CF' 'RF']

In [575]:
len(p)

10

Now it removed those positions. Let's check our dataset's shape.

In [576]:
df_fwds.shape

(13655, 29)

In [577]:
df_fwds['Position'].head(5)

0     SUB
8     SUB
15    SUB
16    SUB
18     RS
Name: Position, dtype: object

In [578]:
df_fwds.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
0,209658,L. Goretzka,27,https://cdn.sofifa.net/players/209/658/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,87,88,FC Bayern München,https://cdn.sofifa.net/teams/21/30.png,...,Yes,SUB,"Jul 1, 2018",NaN,2026,189cm,82kg,€157M,8.0,NaN
8,208333,E. Can,28,https://cdn.sofifa.net/players/208/333/23_60.png,Germany,https://cdn.sofifa.net/flags/de.png,82,82,Borussia Dortmund,https://cdn.sofifa.net/teams/22/30.png,...,Yes,SUB,"Feb 18, 2020",NaN,2024,186cm,86kg,€51.9M,23.0,NaN
15,212616,R. De Paul,28,https://cdn.sofifa.net/players/212/616/23_60.png,Argentina,https://cdn.sofifa.net/flags/ar.png,84,84,Atlético de Madrid,https://cdn.sofifa.net/teams/240/30.png,...,No,SUB,"Jul 12, 2021",NaN,2026,180cm,70kg,€86.1M,5.0,NaN
16,181458,I. Perišić,33,https://cdn.sofifa.net/players/181/458/23_60.png,Croatia,https://cdn.sofifa.net/flags/hr.png,84,84,Tottenham Hotspur,https://cdn.sofifa.net/teams/18/30.png,...,Yes,SUB,"Jul 1, 2022",NaN,2024,186cm,80kg,€50.4M,14.0,NaN
18,194765,A. Griezmann,31,https://cdn.sofifa.net/players/194/765/23_60.png,France,https://cdn.sofifa.net/flags/fr.png,83,83,Atlético de Madrid,https://cdn.sofifa.net/teams/240/30.png,...,Yes,RS,NaN,"<a href=""/team/241/fc-barcelona/"">FC Barcelona...","Jun 30, 2023",176cm,73kg,NaN,8.0,NaN

#Total datasets

In [579]:
df.shape

(17625, 29)

In [580]:
df_fwds.shape[0] + df_defs.shape[0] + df_mids.shape[0] + df_gks.shape[0]

17625

We have manually confirmed now that the sum of our all sub-datasets is equal to our original dataset.

#`Club` column

In [581]:
col_names = df.columns.values

In [582]:
len(col_names)

29

In [583]:
print(col_names)

['ID' 'Name' 'Age' 'Photo' 'Nationality' 'Flag' 'Overall' 'Potential'
 'Club' 'Club Logo' 'Value' 'Wage' 'Special' 'Preferred Foot'
 'International Reputation' 'Weak Foot' 'Skill Moves' 'Work Rate'
 'Body Type' 'Real Face' 'Position' 'Joined' 'Loaned From'
 'Contract Valid Until' 'Height' 'Weight' 'Release Clause' 'Kit Number'
 'Best Overall Rating']

We will move from left to right in column array and check every column.

In [584]:
df['Club'].isnull().sum()

177

In [585]:
a = df[df['Club'].isna()]

a.shape

(177, 29)

In [586]:
a.head(5)

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Real Face,Position,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause,Kit Number,Best Overall Rating
162,146562,21 Santi Cazorla,35,https://cdn.sofifa.net/players/146/562/21_60.png,Spain,https://cdn.sofifa.net/flags/es.png,82,82,NaN,https://cdn.sofifa.net/flags/es.png,...,Yes,SUB,NaN,NaN,NaN,168cm,65kg,NaN,20.0,NaN
383,245308,21 M. Nérez,32,https://cdn.sofifa.net/players/245/308/21_60.png,Uruguay,https://cdn.sofifa.net/flags/uy.png,80,80,NaN,https://cdn.sofifa.net/flags/uy.png,...,No,LB,NaN,NaN,NaN,178cm,69kg,NaN,3.0,NaN
435,176571,A. Ayew,32,https://cdn.sofifa.net/players/176/571/23_60.png,Ghana,https://cdn.sofifa.net/flags/gh.png,75,75,NaN,https://cdn.sofifa.net/flags/gh.png,...,Yes,ST,NaN,NaN,NaN,176cm,72kg,NaN,10.0,NaN
463,201922,22 M. Hinteregger,28,https://cdn.sofifa.net/players/201/922/22_60.png,Austria,https://cdn.sofifa.net/flags/at.png,79,79,NaN,https://cdn.sofifa.net/flags/at.png,...,Yes,LCB,NaN,NaN,NaN,186cm,82kg,NaN,4.0,NaN
497,203890,Š. Vrsaljko,30,https://cdn.sofifa.net/players/203/890/23_60.png,Croatia,https://cdn.sofifa.net/flags/hr.png,79,79,NaN,https://cdn.sofifa.net/flags/hr.png,...,Yes,RB,NaN,NaN,NaN,181cm,76kg,NaN,2.0,NaN

A lot of irrelevant players without any club so we will drop them from all our datasets.

In [587]:
df = df.dropna(subset=['Club'])

df.shape

(17448, 29)

In [588]:
print(df_gks.shape)
df_gks = df_gks.dropna(subset=['Club'])
print(df_gks.shape)

(376, 29)
(368, 29)

In [589]:
print(df_defs.shape)
df_defs = df_defs.dropna(subset=['Club'])
print(df_defs.shape)

print(df_mids.shape)
df_mids = df_mids.dropna(subset=['Club'])
print(df_mids.shape)

print(df_fwds.shape)
df_fwds = df_fwds.dropna(subset=['Club'])
print(df_fwds.shape)

(1767, 29)
(1739, 29)
(1827, 29)
(1814, 29)
(13655, 29)
(13527, 29)

Checking with boolean.

In [590]:
df_fwds.shape[0] + df_defs.shape[0] + df_mids.shape[0] + df_gks.shape[0] == df.shape[0]

True

#`Value` column

Remove Euro sign first and then convert M and K values.

In [591]:
df['Value'].head(5)

0       €91M
1     €78.5M
2     €46.5M
3    €107.5M
4     €89.5M
Name: Value, dtype: object

In [592]:
df['Value'].str.contains('€').sum() == df.shape[0]

True

In [593]:
df['Value'] = df['Value'].str.replace('€', "")

df_gks['Value'] = df_gks['Value'].str.replace('€', "")
df_defs['Value'] = df_defs['Value'].str.replace('€', "")
df_mids['Value'] = df_mids['Value'].str.replace('€', "")
df_fwds['Value'] = df_fwds['Value'].str.replace('€', "")

There are players with zero value as well.

In [594]:
len([k for k in df['Value'] if k==0])

0

In [595]:
df[df["Value"].str.contains('K|M')==False]['Name']

199                   R. Kent
906      11 Ricardo Conceição
997            Z. Ibrahimović
1020              11 L. Núñez
1331                  Joaquín
                 ...
16365          10 J. Chandler
16422             11 J. Lindr
16449            07 G. Warmuz
16534           10 J. Lachuer
17112                09 Gatti
Name: Name, Length: 72, dtype: object

In [596]:
df['Value'] = df['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

df_gks['Value'] = df_gks['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_defs['Value'] = df_defs['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_mids['Value'] = df_mids['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_fwds['Value'] = df_fwds['Value'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

#`Wage` column

In [597]:
df['Wage']

0        €115K
1        €190K
2         €46K
3        €350K
4        €110K
         ...
17655     €500
17656     €500
17657      €2K
17658     €500
17659     €500
Name: Wage, Length: 17448, dtype: object

In [598]:
df['Wage'] = df['Wage'].str.replace('€', "")

df_gks['Wage'] = df_gks['Wage'].str.replace('€', "")
df_defs['Wage'] = df_defs['Wage'].str.replace('€', "")
df_mids['Wage'] = df_mids['Wage'].str.replace('€', "")
df_fwds['Wage'] = df_fwds['Wage'].str.replace('€', "")

In [599]:
df['Wage'] = df['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

df_gks['Wage'] = df_gks['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_defs['Wage'] = df_defs['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_mids['Wage'] = df_mids['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_fwds['Wage'] = df_fwds['Wage'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

#`International Reputation` column

In [600]:
len([k for k in df['International Reputation'] if k > 4])

7

In [601]:
[k for k in df['International Reputation'] if k > 4]

[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

In [602]:
df[df['International Reputation'] >= 5]['Name']

41          R. Lewandowski
56                L. Messi
100      Cristiano Ronaldo
102              Neymar Jr
997         Z. Ibrahimović
9151              M. Neuer
12893             J. Oblak
Name: Name, dtype: object

In [603]:
len([k for k in df['International Reputation'] if k == 4])

73

In [604]:
df[df['International Reputation'] == 4]['Name'].head(15)

0       L. Goretzka
3      K. De Bruyne
5        J. Kimmich
6          D. Alaba
11        L. Modrić
18     A. Griezmann
22        L. Suárez
25         M. Salah
42      22 A. Vidal
52          H. Kane
60          S. Mané
75        K. Mbappé
90         P. Pogba
103         G. Bale
106         M. Reus
Name: Name, dtype: object

5 is the maximum international reputation and only 7 legendary players have that while 73 elite players have international reputation value of 4.

#`Loaned From` column

In [605]:
df['Loaned From'] = df['Loaned From'].str.split('>').str[1]
df['Loaned From'] = df['Loaned From'].str.split('<').str[0]

In [606]:
df_gks['Loaned From'] = df_gks['Loaned From'].str.split('>').str[1]
df_gks['Loaned From'] = df_gks['Loaned From'].str.split('<').str[0]

df_mids['Loaned From'] = df_mids['Loaned From'].str.split('>').str[1]
df_mids['Loaned From'] = df_mids['Loaned From'].str.split('<').str[0]

df_defs['Loaned From'] = df_defs['Loaned From'].str.split('>').str[1]
df_defs['Loaned From'] = df_defs['Loaned From'].str.split('<').str[0]

df_fwds['Loaned From'] = df_fwds['Loaned From'].str.split('>').str[1]
df_fwds['Loaned From'] = df_fwds['Loaned From'].str.split('<').str[0]

#`Height` column

In [607]:
df['Height'].str.contains('cm').sum()

17448

In [608]:
df['Height'] = df['Height'].str.replace('cm', "")

df_gks['Height'] = df_gks['Height'].str.replace('cm', "")
df_defs['Height'] = df_defs['Height'].str.replace('cm', "")
df_mids['Height'] = df_mids['Height'].str.replace('cm', "")
df_fwds['Height'] = df_fwds['Height'].str.replace('cm', "")

In [609]:
df.rename(columns = {'Height':'Height(cm)'}, inplace = True)

df_gks.rename(columns = {'Height':'Height(cm)'}, inplace = True)
df_defs.rename(columns = {'Height':'Height(cm)'}, inplace = True)
df_mids.rename(columns = {'Height':'Height(cm)'}, inplace = True)
df_fwds.rename(columns = {'Height':'Height(cm)'}, inplace = True)

#`Weight` column

In [610]:
df['Weight'].str.contains('kg').sum()

17448

In [611]:
df['Weight'] = df['Weight'].str.replace('kg', "")

df_gks['Weight'] = df_gks['Weight'].str.replace('kg', "")
df_defs['Weight'] = df_defs['Weight'].str.replace('kg', "")
df_mids['Weight'] = df_mids['Weight'].str.replace('kg', "")
df_fwds['Weight'] = df_fwds['Weight'].str.replace('kg', "")

In [612]:
df.rename(columns = {'Weight':'Weight(kg)'}, inplace = True)

df_gks.rename(columns = {'Weight':'Weight(kg)'}, inplace = True)
df_defs.rename(columns = {'Weight':'Weight(kg)'}, inplace = True)
df_mids.rename(columns = {'Weight':'Weight(kg)'}, inplace = True)
df_fwds.rename(columns = {'Weight':'Weight(kg)'}, inplace = True)

#`Release Clause` column

In [613]:
df['Release Clause'].str.contains("€").sum()

16508

In [614]:
df['Release Clause'].str.contains("K").sum() + df['Release Clause'].str.contains("M").sum()

16508

In [615]:
df['Release Clause'].isnull().sum()

940

In [616]:
df['Release Clause'] = df['Release Clause'].str.replace('€', "")

df_gks['Release Clause'] = df_gks['Release Clause'].str.replace('€', "")
df_defs['Release Clause'] = df_defs['Release Clause'].str.replace('€', "")
df_mids['Release Clause'] = df_mids['Release Clause'].str.replace('€', "")
df_fwds['Release Clause'] = df_fwds['Release Clause'].str.replace('€', "")

In [617]:
df['Release Clause'] = df['Release Clause'].fillna(0)

df_gks['Release Clause'] = df_gks['Release Clause'].fillna(0)
df_defs['Release Clause'] = df_defs['Release Clause'].fillna(0)
df_mids['Release Clause'] = df_mids['Release Clause'].fillna(0)
df_fwds['Release Clause'] = df_fwds['Release Clause'].fillna(0)

In [618]:
df['Release Clause'] = df['Release Clause'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

df_gks['Release Clause'] = df_gks['Release Clause'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_defs['Release Clause'] = df_defs['Release Clause'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_mids['Release Clause'] = df_mids['Release Clause'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)
df_fwds['Release Clause'] = df_fwds['Release Clause'].replace({'K': '*1e3', 'M': '*1e6'}, regex=True).map(pd.eval).astype(int)

#Drop unnecessary columns.

In [619]:
df.drop(['Best Overall Rating', 'Real Face', 'Joined', 'Contract Valid Until'], inplace=True, axis=1)

df_gks.drop(['Best Overall Rating', 'Real Face', 'Joined', 'Contract Valid Until'], inplace=True, axis=1)
df_defs.drop(['Best Overall Rating', 'Real Face', 'Joined', 'Contract Valid Until'], inplace=True, axis=1)
df_mids.drop(['Best Overall Rating', 'Real Face', 'Joined', 'Contract Valid Until'], inplace=True, axis=1)
df_fwds.drop(['Best Overall Rating', 'Real Face', 'Joined', 'Contract Valid Until'], inplace=True, axis=1)

#Download Cleaned Datasets

In [627]:
df.to_csv('FIFA.csv', index=False)

In [628]:
df_gks.to_csv('FIFA_GKS.csv', index=False)
df_defs.to_csv('FIFA_DEFS.csv', index=False)
df_mids.to_csv('FIFA_MIDS.csv', index=False)
df_fwds.to_csv('FIFA_FWDS.csv', index=False)